@model Palecar_Modelos.ViewModels.DetalleVM
@using Palecar_Utilidades
<div class="">
    <form method="post">
        <input asp-for="@Model.producto.Id" hidden/>
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.producto.NombreProducto</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-end">
                        <h1 class="text-warning"> @((Model.producto.Precio).ToString("c"))</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@WC.ImagenRuta@Model.producto.UrlImagen" width="100%" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="row pl-3">

                                    <div class="col-12">
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush">@Model.producto.Categoría.NombreCategoria</span>
                                        <span class="badge p-3 border text-dark" style="background-color:azure">@Model.producto.TipoAplicacion.Nombre</span>
                                        <h3 class="text-success"></h3>
                                        

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <label asp-for="@Model.Cantidad" class="form-label">Cantidad:</label>

                                <input asp-for="@Model.Cantidad"  type="number" name="Cantidad" min="0.5" max="100" step="0.5" oninput="calcularTotal()" />

                           </div>

                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8class=" col-12 col-lg-4""></div>
                            <div class="col-12 col-lg-4">
                                <label asp-for="@Model.Monto" class="form-label">Monto total:</label>

                                <input asp-for="@Model.Monto" readonly name="Monto"/>
                            </div>
                            
                        </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1 ">
                            <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Regresar</a>
                        </div>
                        <div class="col-12 col-md-6 ">
                            @if (Model.ExisteEnCarro)
                            {
                                <a asp-action="RemoverDeCarro" asp-route-Id="@Model.producto.Id" class="btn btn-warning btn-square form-control btn-lg" style="height:50px;">Remover del Carro</a>
                            }
                            else
                            {
                                <button type="submit" asp-route-Id="@Model.producto.Id" class="btn btn-info form-control btn-lg" style="height:50px;">Agregar al Carro</button>
                            }


                        </div>
                    </div>                   
                </div>
                <br />
                
            </div>

        </div>
        <br />
        <div class="row">
            <h3>Otros productos que te pueden interesar</h3>
            <br />

            @foreach (var prod in Model.productosLista)
            {
                if (prod.TipoAplicacion == Model.producto.TipoAplicacion &&
                prod.Id != Model.producto.Id)
                {

                    <partial name="_productoCard" model="prod"></partial>

                }
            }

        </div>
    </form>
</div>
@section scripts{
    <script>
        function calcularTotal() {
            var cantidad = document.querySelector('input[name="Cantidad"]').value;
            var precio = @Model.producto.Precio; // se asume que el precio ya está en la página
            var montoTotal = cantidad * precio;
            document.querySelector('input[name="Monto"]').value = montoTotal.toFixed(2); // se redondea a dos decimales
        }
    </script>
   





}